<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <!-- 导入要使用的css -->
    <link rel="stylesheet" href="/static/CSS/bootstrap.css">
</head>
<body>
<!--下面的这个登录框的html代码是在bootstrap框架里面找的-->
<form method="post">  <!--请求方式改成了post-->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           name="Name"
           value="{{ user.name }}"
    >

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Working_hours</label>
    <input type="number"
           class="form-control"
           id="exampleInputPassword1"
           name="Working_hours"
           value="{{ user.working_hours }}"
    >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Upload_file_numbers</label>
    <input type="number"
           class="form-control"
           id="exampleInputPassword1"
           name="Upload_file_numbers"
           value="{{ user.upload_file_numbers }}">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Risky_web_visits</label>
    <input type="number"
           class="form-control"
           id="exampleInputPassword1"
           name="Risky_web_visits"
           value="{{ user.risky_web_visits }}">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>